- content_for :data_scripts do
  :javascript
    window.RaidLog = #{raw @raid.raid_log}

%h1
  Raid:
  = link_to @raid.quest.name, @raid.quest

.row
  .col-md-12.text-center
    %h2#raid-encounter
.row
  #monster-row.col-md-12
.row
  #party-front-row.col-md-12
.row
  #party-back-row.col-md-12
.row
  .col-md-12#board-controls
    %p
      = link_to "#", :class => "btn btn-default btn-lg", :id => "play-raid" do
        %span#play-icon.glyphicon.glyphicon-play
      &nbsp;
      %span.btn-group
        = link_to "#", :class => "btn btn-default btn-lg", :id => "slower" do
          %span#slower-icon.glyphicon.glyphicon-minus
        = link_to "#", :class => "btn btn-default btn-lg", :id => "faster" do
          %span#faster-icon.glyphicon.glyphicon-plus

.row
  .col-md-12
    %form
      .form-group
        %textarea.form-control#raid-log{readonly: true, rows: 4}

.row
  .col-md-8
    %h2 Party
    %table.table.table-striped.table-condensed.unit-table
      %tr
        %th Unit
        %th Equipment
        %th Name
        %th Stats
      - @raid.party_snapshot.each do |unit|
        %tr
          %td
            %span{ :class => "unit-icon team-A-unit #{unit["icon_class"]}" }
          %td
            %span{ :class => "item-icon item-#{unit["weapon_icon_class"]}" }
            %span{ :class => "item-icon item-#{unit["armor_icon_class"]}" }
            %span{ :class => "item-icon item-#{unit["mobility_icon_class"]}" }
          %td= unit["name"]
          %td
            = unit["hp"]
            %span.fa.fa-heart
            = unit["move"]
            %span.fa.fa-arrows
            = "#{unit['evade']}/#{unit['defense']}"
            %span.fa.fa-shield
            = "#{unit['damage']}/#{unit['accuracy']}"
            %span.fa.fa-crosshairs
            - if unit["ranged"]
              %span.label.label-warning Ranged
            - else
              %span.label.label-info Melee

  .col-md-4
    %h2 Results
    %p
      %strong Outcome:
      = @raid.outcome
    %p
      %strong Kills:
      = @raid.kills
    %p
      %strong XP received:
      = @raid.xp
    %p
      %strong Gold received:
      = @raid.credits
    %p
      = link_to "Run again using same party", rerun_raid_path(@raid), method: :post, class: "btn btn-primary btn-lg"

%hr
%p
  = link_to "Back to list of Raids", raids_path, class: "btn btn-default btn-lg"
  = link_to "Back to list of Quests", quests_path, class: "btn btn-default btn-lg"
