- content_for :data_scripts do
  :javascript
    window.RaidLog = #{raw @raid.raid_log}

%h1
  Raid:
  = link_to @raid.quest.name, quest_url(@raid.quest.id)

.row.replay-container
  .col-md-12.text-center
    %h2#raid-encounter
.row.replay-container
  .col-md-12
    #monster-row
.row.replay-container
  #party-front-row.col-md-12
.row.replay-container
  #party-back-row.col-md-12
.row.replay-container
  .col-md-12#board-controls
    %p
      = link_to "#", :class => "btn btn-default btn-lg", :id => "play-raid", :title => "play/pause replay" do
        %span#play-icon.glyphicon.glyphicon-play
      &nbsp;
      %span.btn-group
        = link_to "#", :class => "btn btn-default btn-lg", :id => "slower", :title => "reduce replay speed" do
          %span#slower-icon.glyphicon.glyphicon-minus
        = link_to "#", :class => "btn btn-default btn-lg", :id => "faster", :title => "increase replay speed" do
          %span#faster-icon.glyphicon.glyphicon-plus

.row.replay-container
  .col-md-12
    %form
      .form-group
        %textarea.form-control#raid-log{readonly: true, rows: 4}

%p#load-replay-container.text-center= link_to "Load Replay", "#", id: "load-replay", class: "btn btn-default btn-success btn-lg"

.row
  .col-md-8
    %h2 Party
    %table.table.table-striped.table-condensed.unit-table
      %tr
        %th Unit
        %th Equipment
        %th Name
        %th Stats
      - @raid.party_snapshot.each do |unit|
        %tr
          %td
            %span{ :class => "unit-icon team-A-unit #{unit["icon_class"]}" }
          %td
            %span{ :class => "item-icon item-#{unit["weapon_icon_class"]}" }
            %span{ :class => "item-icon item-#{unit["armor_icon_class"]}" }
            %span{ :class => "item-icon item-#{unit["mobility_icon_class"]}" }
          %td= unit["name"]
          %td
            %span{ title: "unit's max health" }
              = unit["hp"]
              %span.fa.fa-heart
            %span{ title: "unit's movement speed" }
              = unit["move"]
              %span.fa.fa-arrows
            %span{ title: "unit's defense (damage reduction) / evasion rating" }
              = "#{unit['defense']}/#{unit['evade']}"
              %span.fa.fa-shield
            %span{ title: "unit's damage / accuracy rating" }
              = "#{unit['damage']}/#{unit['accuracy']}"
              %span.fa.fa-crosshairs
            - if unit["ranged"]
              %span.label.label-warning Ranged
            - else
              %span.label.label-info Melee

  .col-md-4
    %h2 Results
    %p
      %strong Outcome:
      - if @raid.outcome == "Success"
        %span.label.label-info Success
      - else 
        %span.label.label-danger Failed
    %p
      %strong Kills:
      = @raid.kills
    %p
      %strong XP received:
      = @raid.xp
    %p
      %strong Gold received:
      = @raid.credits
    %p
      = link_to "Run again using same party", rerun_raid_path(@raid), method: :post, class: "btn btn-primary btn-lg"
    %p
      = link_to "Try again with a different party", quest_path(@raid.quest.id), class: "btn btn-default btn-lg"

- if current_user.completed_quest?(@raid.quest) && @raid.quest.unlocked_quests.compact.size > 0
  %hr
  %p
    Completing this quest unlocked the following quests:
  %p
    - @raid.quest.unlocked_quests.each do |quest|
      = link_to "Go to \"#{quest.name}\"", quest_url(quest.id), class: "btn btn-default"

%hr
%p
  = link_to "Back to list of Raids", raids_path, class: "btn btn-default"
  = link_to "Back to list of Quests", quests_path, class: "btn btn-default"
