- build_meta_tags title: "Item List and Shop"

%h1 All Equipment

%table.table.table-striped.table-condensed.item-table
  %tr
    %th Equipment
    %th Name
    %th Type
    %th Price
    %th Points
    %th Weapon Stats
    %th Stat Bonus
    %th Actions
  - @items.each do |item|
    %tr
      %td
        %span{ :class => "item-icon item-#{item.icon_class}" }
      %td= item.name
      %td= item.slot.capitalize
      %td= number_with_delimiter item.price
      %td
        = item.points
        %span.fa.fa-bolt
      %td
        - if item.slot == "weapon"
          = "#{item.damage}/#{item.accuracy}/#{item.range_min}-#{item.range_max}"
          %span.fa.fa-crosshairs
      %td
        = item.bonus_hp
        %span.fa.fa-heart
        = item.bonus_move
        %span.fa.fa-arrows
        = "#{item.bonus_evade}/#{item.bonus_defense}"
        %span.fa.fa-shield
        = "#{item.bonus_accuracy}"
        %span.fa.fa-crosshairs
      %td
        = link_to "View Item", equipment_path(item.slug), :class => "btn btn-default btn-sm"
        = render partial: "buy_buttons", locals: { item: item }
