- build_meta_tags title: "Item List and Shop"

%h1 All Equipment

%table.table.table-striped.table-condensed.item-table
  %tr
    %th Equipment
    %th Name
    %th Type
    %th Price
    %th Points
    %th Weapon Stats
    %th Stat Bonus
    %th Actions
  - @items.each do |item|
    %tr
      %td
        %span{ :class => "item-icon item-#{item.icon_class}" }
      %td= item.name
      %td= item.slot.capitalize
      %td= number_with_delimiter item.price
      %td
        %span{ title: "item's power rating" }
          = item.points
          %span.fa.fa-bolt
      %td
        = render partial: "equipment/weapon_stats", locals: { item: item }
      %td
        = render partial: "equipment/bonus_stats", locals: { item: item }
      %td
        = link_to "View Item", equipment_path(item.slug), :class => "btn btn-default btn-sm"
        = render partial: "buy_buttons", locals: { item: item }
