%h1= @item.name

%h2 Stats

%table.table.table-condensed.table-striped.item-table
  %tr
    %th Icon
    %th Slot
    %th Points
    %th HP
    %th Movement
    %th Defense
    %th Evade
    %th Damage
    %th Accuracy
    %th Range
    %th Price
  %tr
    - if @item.slot == "weapon"
      %td
        %span{ :class => "item-icon item-#{@item.icon_class}" }
      %td= @item.slot.capitalize
      %td
        = @item.points
      %td
      %td
      %td
      %td
      %td
        = @item.damage
      %td
        = @item.accuracy
      %td
        = "#{@item.range_min}-#{@item.range_max}"
      %td
        = number_with_delimiter @item.price
    - else
      %td
        %span{ :class => "item-icon item-#{@item.icon_class}" }
      %td Weapon
      %td
        = @item.points
      %td
        = @item.bonus_hp
      %td
        = @item.bonus_move
      %td
        = @item.bonus_defense
      %td
        = @item.bonus_evade
      %td
      %td
        = @item.bonus_accuracy
      %td
      %td
        = number_with_delimiter @item.price

%p
  = render partial: "buy_buttons", locals: { item: @item }
%p
  = link_to "Back to equipment list", equipment_index_path, :class => "btn btn-default"
