- build_meta_tags title: "Arenas"

%h1 Arenas

%table.table.table-condensed.table-striped.item-table
  %tr
    %th Name
    %th Mode
    %th Point Requirement
    %th Team Count
    %th Total Player Units per Run
    %th Units Currently in Arena 
    %th Schedule
    %th Actions
  - @arenas.order(:points_max).includes(:units).each do |arena|
    %tr
      %td= link_to arena.name, arena
      %td= arena.mode
      %td= "#{arena.points_min} - #{arena.points_max}"
      %td= arena.team_count
      %td= arena.players_max
      %td= arena.units.count
      %td= "every #{pluralize arena.minutes_interval, "minute"}"
      %td
        = link_to "View Details", arena, class: "btn btn-default btn-sm"


