%h1 Arenas

%table.table.table-condensed.table-striped.item-table
  %tr
    %th
    %th
    %th{ colspan: 2 } Points
    %th{ colspan: 4 } XP reward for
    %th{ colspan: 3 } Gold reward for
    %th
    %th
  %tr
    %th Name
    %th Mode
    %th Min
    %th Max
    %th joining
    %th kills
    %th winning
    %th surviving
    %th kills
    %th winning
    %th surviving
    %th Schedule
    %th Actions
  - @arenas.each do |arena|
    %tr
      %td= link_to arena.name, arena
      %td= arena.mode
      %td= arena.points_min
      %td= arena.points_max
      %td= arena.xp_join
      %td= arena.xp_kill
      %td= arena.xp_win
      %td= arena.xp_survive
      %td= arena.credits_kill
      %td= arena.credits_win
      %td= arena.credits_survive
      %td= "every #{pluralize arena.minutes_interval, "minute"}"
      %td
        = link_to "View Details", arena, class: "btn btn-default btn-sm"


