%h1 
  = "Arena: #{@arena.name}"

.row
  .col-md-12.board-container
    #board{ :class => board_class(@arena) }
      - @arena.processed_layout.each_with_index do |row, r|
        .hex-row{ :class => (r.odd? ? "odd" : "even") }
          - row.each_with_index do |cell, q|
            .hex-tile{ :id => "tile-#{q}-#{r}", :class => tile_class(cell) } 
              .hex-in1
                .hex-in2
.row
  .col-md-12
    %h2 Details

    .row
      .col-md-3
        %p
          %strong Mode:
          = @arena.mode
      .col-md-3
        %p
          %strong Point Range:
          = @arena.points_min
          \-
          = @arena.points_max
      .col-md-3
        %p
          %strong Schedule:
          = "every #{pluralize @arena.minutes_interval, "minute"}"
      .col-md-3
        %p
          %strong Max player units per Battle:
          = @arena.players_max

    %h3 Rewards
    %table.table.table-condensed.table-striped
      %tr
        %th.text-center{ colspan: 4 } XP
        %th.text-center{ colspan: 3 } Gold
        %th.text-center{ colspan: 3 } Trophies
      %tr
        %th.text-center joining
        %th.text-center kills
        %th.text-center winning
        %th.text-center surviving
        %th.text-center kills
        %th.text-center winning
        %th.text-center surviving
        %th.text-center 1st
        %th.text-center 2nd
        %th.text-center 3rd
      %tr
        %td.text-center= @arena.xp_join
        %td.text-center= @arena.xp_kill
        %td.text-center= @arena.xp_win
        %td.text-center= @arena.xp_survive
        %td.text-center= @arena.credits_kill
        %td.text-center= @arena.credits_win
        %td.text-center= @arena.credits_survive
        %td.text-center
          = @arena.trophies_1st
          %span.fa.fa-trophy
        %td.text-center
          = @arena.trophies_2nd
          %span.fa.fa-trophy
        %td.text-center
          = @arena.trophies_3rd
          %span.fa.fa-trophy

.row
  - unless @arena.battle_bots.where(filler: false).empty?
    .col-md-6
      %h3 Bots
      %table.table.table-striped.table-condensed.unit-table.medium
        %tr
          %th Unit
          %th Equipment
          %th Type
          %th Count
          %th Stats
        - @arena.battle_bots.where(filler: false).each do |unit|
          %tr
            %td
              %span{ :class => "unit-icon team-X-unit #{unit.icon_class}" }
            %td.small-icons
              %span{ :class => "item-icon item-#{unit.weapon_icon_class}" }
              %span{ :class => "item-icon item-#{unit.armor_icon_class}" }
              %span{ :class => "item-icon item-#{unit.mobility_icon_class}" }
            %td= unit.unit_template.name
            %td= unit.count
            %td
              = render partial: "units/stats", locals: { unit: unit, show_points: false }
  - if @arena.players_max > 1
    .col-md-6
      %h3 Filler Units
      %table.table.table-striped.table-condensed.unit-table.medium
        %tr
          %th Unit
          %th Equipment
          %th Type
          %th % chance
          %th Stats
        - @arena.battle_bots.where(filler: true).each do |unit|
          %tr
            %td
              %span{ :class => "unit-icon team-A-unit #{unit.icon_class}" }
            %td.small-icons
              %span{ :class => "item-icon item-#{unit.weapon_icon_class}" }
              %span{ :class => "item-icon item-#{unit.armor_icon_class}" }
              %span{ :class => "item-icon item-#{unit.mobility_icon_class}" }
            %td= unit.unit_template.name
            %td= "#{((unit.count.to_f / @arena.battle_bots.where(filler: true).sum(:count)) * 100).round(0)}%"
            %td
              = render partial: "units/stats", locals: { unit: unit, show_points: false }
- if user_signed_in?
  %hr
  %h2 Assign Units
  - if current_user.assignable_units(@arena).empty?
    %p 
      None of your units meet the point requirements of this arena.
  %p
    = link_to "Hire more units", unit_templates_path
    or 
    = link_to "re-equip your roster", units_path
    to be able to assign more units to this arena.
  - unless current_user.assignable_units(@arena).empty?
    = form_tag @arena, method: :put do 
      %table.table.table-striped.table-condensed.unit-table
        %tr
          %th 
          %th Unit
          %th Equipment
          %th Name
          %th Points
          %th Stats
          %th Status
        - current_user.assignable_units(@arena).each do |unit|
          %tr
            %td= check_box_tag "unit_ids[]", unit.id
            %td
              %span{ :class => "unit-icon team-A-unit #{unit.icon_class}" }
            %td
              %span{ :class => "item-icon item-#{unit.weapon_icon_class}" }
              %span{ :class => "item-icon item-#{unit.armor_icon_class}" }
              %span{ :class => "item-icon item-#{unit.mobility_icon_class}" }
            %td= link_to unit.name, unit
            %td= unit.total_points
            %td
              = unit.eff_hp
              %span.fa.fa-heart
              = unit.eff_move
              %span.fa.fa-arrows
              = "#{unit.eff_defense}/#{unit.eff_evade}"
              %span.fa.fa-shield
              = "#{unit.eff_damage}/#{unit.eff_accuracy}/#{unit.eff_range_min}-#{unit.eff_range_max}"
              %span.fa.fa-crosshairs
            %td
              - if unit.arena.present?
                Queued for 
                = link_to unit.arena.name, unit.arena
              - else
                Unassigned
      = submit_tag "Assign selected units to this arena", class: "btn btn-primary"

%hr

%p= link_to "Back to arena list", arenas_path, class: "btn btn-default"
