%h2 Latest Battles
%table.table.table-striped.table-condensed
  %tr
    %th Battle ID
    %th Unit
    %th Unit Team
    %th Unit Outcome
    %th Battle Outcome
    %th.text-right XP
    %th.text-right Gold
    %th.text-right Time
  - current_user.latest_battles.each do |outcome|
    %tr
      %td= link_to outcome.battle.battle_id, outcome.battle
      %td= link_to outcome.unit.name, outcome.unit
      %td= outcome.team
      %td
        %span{:class => outcome.unit_outcome_label }= outcome.outcome
      %td
        %span{:class => outcome.battle_outcome_label}= outcome.battle.outcome
      %td.text-right= "+#{number_with_delimiter outcome.xp}"
      %td.text-right= "+#{number_with_delimiter outcome.credits}"
      %td.text-right
        = time_ago_in_words outcome.created_at
        ago

%p.text-center
  = link_to "View previous battles", my_battles_path, :class => "btn btn-default btn-lg"
  = link_to "Send your units to Arenas", arenas_path, :class => "btn btn-default btn-lg"

%h2 Roster

%table.table.table-striped.table-condensed.unit-table
  %tr
    %th Unit
    %th Equipment
    %th Name
    %th Type
    %th Stats
    %th Status
    %th Actions
  - current_user.active_units.each do |unit|
    %tr
      %td
        %span{ :class => "unit-icon team-A-unit #{unit.icon_class}" }
      %td
        %span{ :class => "item-icon item-#{unit.weapon_icon_class}" }
        %span{ :class => "item-icon item-#{unit.armor_icon_class}" }
        %span{ :class => "item-icon item-#{unit.mobility_icon_class}" }
      %td= link_to unit.name, unit
      %td= unit.unit_template.name
      %td
        = unit.eff_hp
        %span.fa.fa-heart
        = unit.eff_move
        %span.fa.fa-arrows
        = "#{unit.eff_evade}/#{unit.eff_defense}"
        %span.fa.fa-shield
        = "#{unit.eff_damage}/#{unit.eff_accuracy}/#{unit.eff_range_min}-#{unit.eff_range_max}"
        %span.fa.fa-crosshairs
      %td
        - if unit.arena.present?
          Queued for 
          = link_to unit.arena.name, unit.arena
        - else
          Unassigned
      %td
        = link_to "View Unit", unit, :class => "btn btn-default btn-sm"
        = link_to "Manage Unit", edit_unit_path(unit), :class => "btn btn-default btn-sm"
  - (current_user.available_unit_slots).times do
    %tr
      %td.text-center{colspan: 6}
        Empty slot
      %td
        = link_to "Hire Unit", unit_templates_path, :class => "btn btn-default btn-sm"

%p.text-center
  = link_to "Manage armory", user_equipment_index_path, :class => "btn btn-default btn-lg"


