%h2 Latest Battles
%table.table.table-striped.table-condensed
  %tr
    %th Battle ID
    %th Unit
    %th Unit Team
    %th Unit Outcome
    %th Battle Outcome
    %th.text-right XP
    %th.text-right Gold
    %th.text-right Time
  - current_user.latest_battles.each do |outcome|
    %tr
      %td= link_to outcome.battle.battle_id, outcome.battle
      %td= outcome.unit.name
      %td= outcome.team
      %td= outcome.outcome
      %td= outcome.battle.outcome
      %td.text-right= "+#{number_with_delimiter outcome.xp}"
      %td.text-right= "+#{number_with_delimiter outcome.credits}"
      %td.text-right
        = time_ago_in_words outcome.created_at
        ago

%p.text-center= link_to "View previous battles &raquo;".html_safe, my_battles_path, :class => "btn btn-default btn-lg"

%h2 Barracks

%table.table.table-striped.table-condensed.unit-table
  %tr
    %th Unit
    %th Equipment
    %th Name
    %th Type
    %th Stats
    %th Status
    %th Actions
  - current_user.units.each do |unit|
    %tr
      %td
        %span{ :class => "unit-icon team-A-unit #{unit.icon_class}" }
      %td
        %span{ :class => "item-icon item-#{unit.weapon.icon_class}" }
        %span{ :class => "item-icon item-#{unit.armor.icon_class}" }
        %span{ :class => "item-icon item-#{unit.mobility_item.icon_class}" }
      %td= unit.name
      %td= unit.unit_template.name
      %td
        = unit.eff_hp
        %span.fa.fa-heart
        = unit.eff_move
        %span.fa.fa-arrows
        = "#{unit.eff_evade}/#{unit.eff_defense}"
        %span.fa.fa-shield
        = "#{unit.eff_damage}/#{unit.eff_accuracy}/#{unit.eff_range_min}-#{unit.eff_range_max}"
        %span.fa.fa-crosshairs
      %td
        - if unit.arena.present?
          Queued for 
          = link_to unit.arena.name, "#"
        - else
          Unassigned
      %td
        = link_to "Manage Unit &raquo;".html_safe, "#", :class => "btn btn-default"
  - (current_user.max_units - current_user.units.count).times do
    %tr
      %td.text-center{colspan: 6}
        Empty slot
      %td
        = link_to "Hire Unit &raquo;".html_safe, "#", :class => "btn btn-default"


%p.text-center= link_to "Manage barracks &raquo;".html_safe, "#", :class => "btn btn-default btn-lg"

%h2 Armory

%table.table.table-striped.table-condensed.item-table
  %tr
    %th Equipment
    %th Name
    %th Type
    %th Weapon Stats
    %th Stat Bonus
    %th Equiped by
    %th Actions
  - current_user.user_equipment.each do |item|
    %tr
      %td
        %span{ :class => "item-icon item-#{item.icon_class}" }
      %td= item.name
      %td= item.slot.capitalize
      %td
        - if item.slot == "weapon"
          = "#{item.damage}/#{item.accuracy}/#{item.range_min}-#{item.range_max}"
          %span.fa.fa-crosshairs
      %td
        = item.bonus_hp
        %span.fa.fa-heart
        = item.bonus_move
        %span.fa.fa-arrows
        = "#{item.bonus_evade}/#{item.bonus_defense}"
        %span.fa.fa-shield
        = "#{item.bonus_accuracy}"
        %span.fa.fa-crosshairs
      %td
        - if item.unit.present?
          = item.unit.name
        - else
          not equipped
      %td
        = link_to "Manage Item &raquo;".html_safe, "#", :class => "btn btn-default"
  - (current_user.max_equipment - current_user.user_equipment.count).times do
    %tr
      %td.text-center{colspan: 6}
        Empty slot
      %td
        = link_to "Buy Item &raquo;".html_safe, "#", :class => "btn btn-default"

%p.text-center= link_to "Manage armory &raquo;".html_safe, "#", :class => "btn btn-default btn-lg"


