%h1 Leaderboard

%h2 Top Ten Players
.row
  .col-md-6
    %h3 Overall
    %table.table.table-condensed.table-striped
      %tr
        %th Player
        %th.text-right Trophies
      - @top_ten.each do |user|
        %tr
          %td
            = user.username
            = user_flair(user)
          %td.text-right
            = number_with_delimiter user.total_trophies
            %span.fa.fa-trophy

  .col-md-6
    %h3 This Week
    %table.table.table-condensed.table-striped
      %tr
        %th Player
        %th.text-right Trophies this week
      - @weekly_top_ten.each do |user|
        %tr
          %td
            = user.username
            = user_flair(user)
          %td.text-right
            = number_with_delimiter user.weekly_trophies
            %span.fa.fa-trophy
      
%h2 Fastest speedrunners
.row
  .col-md-6
    %h3 Time
    %table.table.table-condensed.table-striped
      %tr
        %th Player
        %th.text-right Best Time
        %th.text-right Run Date
      - @top_speedrunners.each do |user|
        %tr
          %td
            = user.username
            = user_flair(user)
          %td.text-right
            = time_elapsed user.best_speedrun_time
          %td.text-right
            = l user.best_speedrun_at, format: :short

  .col-md-6
    %h3 Efficiency
    %table.table.table-condensed.table-striped
      %tr
        %th Player
        %th.text-right Lowest Raid Count
        %th.text-right Run Date
      - @eff_speedrunners.each do |user|
        %tr
          %td
            = user.username
            = user_flair(user)
          %td.text-right
            = number_with_delimiter user.best_speedrun_raid_count
          %td.text-right
            = l user.most_efficient_speedrun_at, format: :short
