%h2 My Battles
%table.table.table-striped.table-condensed
  %tr
    %th Battle ID
    %th Unit
    %th Unit Team
    %th Unit Outcome
    %th Battle Outcome
    %th.text-right XP
    %th.text-right Gold
    %th.text-right Time
  - @outcomes.each do |outcome|
    %tr
      %td= link_to outcome.battle.battle_id, outcome.battle
      %td= link_to outcome.unit.name, outcome.unit
      %td= outcome.team
      %td
        %span{:class => outcome.unit_outcome_label }= outcome.outcome
      %td
        %span{:class => outcome.battle_outcome_label}= outcome.battle.outcome
      %td.text-right= "+#{outcome.xp}"
      %td.text-right= "+#{outcome.credits}"
      %td.text-right
        = time_ago_in_words outcome.created_at
        ago

= paginate @outcomes, theme: 'twitter-bootstrap-3'
