%h1 Battle List

%table.table.table-striped.table-condensed
  %tr
    %th Battle
    %th Battle Outcome
    %th.text-right Time
  - @battles.each do |battle|
    %tr
      %td= link_to "Battle at '#{battle.arena.name}'", battle
      %td= battle.outcome
      %td.text-right
        = time_ago_in_words battle.updated_at
        ago

= paginate @battles, theme: 'twitter-bootstrap-3'
