- build_meta_tags title: "Battle Outcome"

- content_for :data_scripts do
  :javascript
    window.BattleLog = #{raw @battle.battle_log};

.row
  .col-md-6
    %h1 
      Battle:
      = link_to @battle.arena.name, @battle.arena


.row.replay-container
  .col-md-12.board-container
    #board{ :class => board_class(@battle.arena) }
      - @battle.arena.processed_layout.each_with_index do |row, r|
        .hex-row{ :class => (r.odd? ? "odd" : "even") }
          - row.each_with_index do |cell, q|
            .hex-tile{ :id => "tile-#{q}-#{r}", :class => tile_class(cell) } 
              .hex-in1
                .hex-in2

.row.replay-container
  .col-md-12#board-controls
    %p
      = link_to "#", :class => "btn btn-default btn-lg", :id => "play", :title => "play/pause replay" do
        %span#play-icon.glyphicon.glyphicon-play
      &nbsp;
      %span.btn-group
        = link_to "#", :class => "btn btn-default btn-lg", :id => "slower-battle", :title => "reduce replay speed"  do
          %span#slower-icon.glyphicon.glyphicon-minus
        = link_to "#", :class => "btn btn-default btn-lg", :id => "faster-battle", :title => "increase replay speed"  do
          %span#faster-icon.glyphicon.glyphicon-plus

.row.replay-container
  .col-md-6
    #selected-unit
      .info-header
      .info-hp
      .other-info
  .col-md-6
    #targeted-unit
      .info-header
      .info-hp
      .other-info
.row.replay-container
  .col-md-12
    %form
      .form-group
        %textarea.form-control#battle-log{readonly: true, rows: 5}

%p#load-replay-container.text-center= link_to "Load Replay", "#", id: "load-replay", class: "btn btn-default btn-success btn-lg"

.row
  .col-md-12
    %h2= @battle.outcome

    %h3 Player-owned units
    - if @battle.unit_battle_outcomes.count < @battle.arena.players_max
      %em Players slots not completely filled - no trophies awarded.
.row
  .col-md-8
    %table.table.table-striped.table-condensed.unit-table
      %tr
        %th Unit
        %th Team
        %th Name
        %th Owner
        %th.text-right Kills
        %th.text-right Assists
        %th.text-right Trophies
        %th.text-center Outcome
      - ["A", "B", "C"].each do |team|
        - if @battle.grouped_outcomes[team].present?
          - @battle.grouped_outcomes[team].each do |outcome|
            %tr
              %td.medium
                %span{ :class => "unit-icon team-#{team}-unit #{outcome.unit.icon_class}" }
              %td= outcome.team
              %td= link_to outcome.parsed_details["name"], outcome.unit
              %td= outcome.unit.owner_name
              %td.text-right= outcome.kills
              %td.text-right= outcome.assists
              %td.text-right
                - if outcome.trophies > 0
                  = outcome.trophies
                  %span.fa.fa-trophy
              %td.text-center
                %span{:class => outcome.unit_outcome_label }= outcome.outcome
    - if user_signed_in? && !@battle.retain
      %p
        = link_to "Retain this battle record", retain_battle_path(@battle), method: :put, class: "btn btn-warning btn-sm"
      %p
        %em Unless retained, all battles are deleted after 1 week.

  .col-md-2
    .fb-share-button{"data-layout" => "box_count"}
    %a.twitter-share-button{ :href => "https://twitter.com/share", "data-count" => "vertical", "data-text" => "You'll never guess how this battle turned out! LOL" } Tweet


