- build_meta_tags title: "Battle Outcome"

- content_for :data_scripts do
  :javascript
    window.BattleLog = #{raw @battle.battle_log};

.row
  .col-md-6
    %h1 
      Battle:
      = link_to @battle.arena.name, @battle.arena


.row.replay-container
  .col-md-12.board-container
    #board{ :class => board_class(@battle.arena) }
      - @battle.arena.processed_layout.each_with_index do |row, r|
        .hex-row{ :class => (r.odd? ? "odd" : "even") }
          - row.each_with_index do |cell, q|
            .hex-tile{ :id => "tile-#{q}-#{r}", :class => tile_class(cell) } 
              .hex-in1
                .hex-in2

.row.replay-container
  .col-md-12#board-controls
    %p
      = link_to "#", :class => "btn btn-default btn-lg", :id => "play" do
        %span#play-icon.glyphicon.glyphicon-play
      &nbsp;
      %span.btn-group
        = link_to "#", :class => "btn btn-default btn-lg", :id => "slower" do
          %span#slower-icon.glyphicon.glyphicon-minus
        = link_to "#", :class => "btn btn-default btn-lg", :id => "faster" do
          %span#faster-icon.glyphicon.glyphicon-plus

.row.replay-container
  .col-md-6
    #selected-unit
      .info-header
      .info-hp
      .other-info
  .col-md-6
    #targeted-unit
      .info-header
      .info-hp
      .other-info
.row.replay-container
  .col-md-12
    %form
      .form-group
        %textarea.form-control#battle-log{readonly: true, rows: 5}

%p#load-replay-container.text-center= link_to "Load Replay", "#", id: "load-replay", class: "btn btn-default btn-success btn-lg"

.row
  .col-md-12
    %h2= @battle.outcome

    %h3 Player-owned units
    %table.table.table-striped.table-condensed.unit-table
      %tr
        %th Unit
        %th Equipment
        %th Team
        %th Name
        %th Owner
        %th Stats
        %th Kills
        %th Assists
        %th Unit Outcome
      - ["A", "B", "C"].each do |team|
        - if @battle.grouped_outcomes[team].present?
          - @battle.grouped_outcomes[team].each do |outcome|
            %tr
              %td
                %span{ :class => "unit-icon team-#{team}-unit #{outcome.unit.icon_class}" }
              %td
                %span{ :class => "item-icon item-#{outcome.unit.weapon_icon_class}" }
                %span{ :class => "item-icon item-#{outcome.unit.armor_icon_class}" }
                %span{ :class => "item-icon item-#{outcome.unit.mobility_icon_class}" }
              %td= outcome.team
              %td= link_to outcome.parsed_details["name"], outcome.unit
              %td= outcome.unit.user.username
              %td 
                = outcome.parsed_details["hp"]
                %span.fa.fa-heart
                = outcome.parsed_details["move"]
                %span.fa.fa-arrows
                = "#{outcome.parsed_details["evade"]}/#{outcome.parsed_details["defense"]}"
                %span.fa.fa-shield
                = "#{outcome.parsed_details["damage"]}/#{outcome.parsed_details["accuracy"]}/#{outcome.parsed_details["range_min"]}-#{outcome.parsed_details["range_max"]}"
                %span.fa.fa-crosshairs
              %td= outcome.kills
              %td= outcome.assists
              %td
                %span{:class => outcome.unit_outcome_label }= outcome.outcome



