- build_meta_tags title: "Unit for Hire"

%h1
  %span{ :class => "unit-icon team-A-unit #{@unit.icon_class}" }
  = @unit.name

.row 
  .col-md-6
    %h2 Base Stats

    %table.table.table-condensed.table-striped
      %tr
        %th Points
        %th HP
        %th Movement
        %th Evade
        %th Defense
      %tr
        %td
          = @unit.points
        %td
          = @unit.hp
        %td
          = @unit.move
        %td
          = @unit.evade
        %td
          = @unit.defense

  .col-md-6
    %h2 Hiring Requirements

    %table.table.table-condensed.table-striped
      %tr
        %th Missions
        %th Kills
        %th Gold
        %th Gold (fully equipped)
      %tr
        %td= number_with_delimiter @unit.mission_requirement
        %td= number_with_delimiter @unit.kill_requirement
        %td= number_with_delimiter @unit.price
        %td= number_with_delimiter @unit.full_price
.row
  .col-md-12
    %h2 Recommended Equipment
    %p
      %span{ :class => "item-icon item-#{@unit.weapon_default.icon_class}" }
      %span{ :class => "item-icon item-#{@unit.armor_default.icon_class}" }
      %span{ :class => "item-icon item-#{@unit.mobility_default.icon_class}" }
    
    %h3 Stats upon equipping recommended items
    %table.table.table-condensed.table-striped
      %tr
        %th Points
        %th HP
        %th Movement
        %th Evade
        %th Defense
        %th Damage
        %th Accuracy
        %th Range
      %tr
        %td
          = @dummy_unit.total_points
        %td
          = @dummy_unit.eff_hp
        %td
          = @dummy_unit.eff_move
        %td
          = @dummy_unit.eff_evade
        %td
          = @dummy_unit.eff_defense
        %td
          = @dummy_unit.eff_damage
        %td
          = @dummy_unit.eff_accuracy
        %td
          = "#{@dummy_unit.eff_range_min}-#{@dummy_unit.eff_range_max}"
%p
  = render partial: "hire_buttons", locals: { unit: @unit }
  = link_to "Back to list", unit_templates_path, :class => "btn btn-default"
