= form_tag unassign_units_url, method: :post do
  %table.table.table-striped.table-condensed.unit-table
    %tr
      - unless dashboard || current_user.assigned_units.count == 0
        %th
      %th Unit
      %th Equipment
      %th Name
      %th Type
      %th Stats
      %th Status
      - unless dashboard
        %th Actions
    - current_user.active_units.each do |unit|
      %tr
        - unless dashboard || current_user.assigned_units.count == 0
          %td
            - unless unit.arena.nil?
              = check_box_tag "unit_ids[]", unit.id
        %td
          %span{ :class => "unit-icon team-A-unit #{unit.icon_class}" }
        %td
          %span{ :class => "item-icon item-#{unit.weapon_icon_class}" }
          %span{ :class => "item-icon item-#{unit.armor_icon_class}" }
          %span{ :class => "item-icon item-#{unit.mobility_icon_class}" }
        %td= link_to unit.name, unit
        %td= link_to unit.unit_template.name, unit_template_path(unit.unit_template.slug)
        %td
          = unit.total_points
          %span.fa.fa-bolt
          = unit.eff_hp
          %span.fa.fa-heart
          = unit.eff_move
          %span.fa.fa-arrows
          = "#{unit.eff_defense}/#{unit.eff_evade}"
          %span.fa.fa-shield
          = "#{unit.eff_damage}/#{unit.eff_accuracy}/#{unit.eff_range_min}-#{unit.eff_range_max}"
          %span.fa.fa-crosshairs
        %td
          - if unit.arena.present?
            = link_to unit.arena.name, unit.arena
          - else
            Unassigned
        - unless dashboard
          %td
            = link_to "View Unit", unit, :class => "btn btn-default btn-sm"
            = link_to "Equip / Rename Unit", edit_unit_path(unit), :class => "btn btn-default btn-sm"
    - (current_user.available_unit_slots).times do
      %tr
        - unless dashboard || current_user.assigned_units.count == 0
          %td
        %td.text-center{colspan: (dashboard ? 6 : 7)}
          Empty slot -
          = link_to "Hire Unit", unit_templates_path, :class => "btn btn-primary btn-sm"
  - unless dashboard || current_user.assigned_units.count == 0
    = submit_tag "Remove selected from Arena", class: "btn btn-default"
