%h1 Manage Unit
%p
  %span{ :class => "unit-icon team-A-unit #{@unit.icon_class}" }
.row
  .col-md-4
    = simple_form_for @unit do |f|
      = f.input :name
      = f.input :weapon_id, label: "Weapon", collection: @weapons, include_blank: "no weapon", label_method: :name
      = f.input :armor_id, label: "Armor", collection: @armor, include_blank: "no armor", label_method: :name
      = f.input :mobility_id, label: "Mobility", collection: @mobility, include_blank: "no mobility item", label_method: :name
      = f.submit :class => "btn btn-primary"

  .col-md-8
    %h3 Current Stats

    %table.table.table-condensed.table-striped.item-table
      %tr
        %th 
        %th Points
        %th HP
        %th Movement
        %th Defense
        %th Evade
        %th Damage
        %th Accuracy
        %th Range
      %tr
        %td
          %strong Base
        %td
          = @unit.unit_template.points
        %td
          = @unit.unit_template.hp
        %td
          = @unit.unit_template.move
        %td
          = @unit.unit_template.defense
        %td
          = @unit.unit_template.evade
        %td
        %td
        %td
      - if @unit.weapon.present?
        %tr
          %td
            %span{ :class => "item-icon item-#{@unit.weapon.icon_class}" }
          %td
            = @unit.weapon.points
          %td
          %td
          %td
          %td
          %td
            = @unit.weapon.damage
          %td
            = @unit.weapon.accuracy
          %td
            = "#{@unit.weapon.range_min}-#{@unit.weapon.range_max}"
      - if @unit.armor.present?
        %tr
          %td
            %span{ :class => "item-icon item-#{@unit.armor.icon_class}" }
          %td
            = @unit.armor.points
          %td
            = @unit.armor.bonus_hp
          %td
            = @unit.armor.bonus_move
          %td
            = @unit.armor.bonus_defense
          %td
            = @unit.armor.bonus_evade
          %td
          %td
            = @unit.armor.bonus_accuracy
          %td
      - if @unit.mobility_item.present?
        %tr
          %td
            %span{ :class => "item-icon item-#{@unit.mobility_item.icon_class}" }
          %td
            = @unit.mobility_item.points
          %td
            = @unit.mobility_item.bonus_hp
          %td
            = @unit.mobility_item.bonus_move
          %td
            = @unit.mobility_item.bonus_defense
          %td
            = @unit.mobility_item.bonus_evade
          %td
          %td
            = @unit.mobility_item.bonus_accuracy
          %td
      %tr
        %td
          %strong Total
        %td
          = @unit.total_points
        %td
          = @unit.eff_hp
        %td
          = @unit.eff_move
        %td
          = @unit.eff_defense
        %td
          = @unit.eff_evade
        %td
          = @unit.eff_damage
        %td
          = @unit.eff_accuracy
        %td
          = "#{@unit.eff_range_min}-#{@unit.eff_range_max}"

    %p
      %strong Status:
      - if @unit.arena.present?
        Queued for 
        = link_to @unit.arena.name, "#"
        %br
        %em (Changing this unit's equipment will remove it from the current arena queue if it doesn't meet the point requirements)
      - else
        Unassigned
.row
  .col-md-12
    %hr
    %p
      = link_to "Cancel Update", @unit, :class => "btn btn-default"
      = link_to "Back to Roster", units_path, :class => "btn btn-default"
