- build_meta_tags title: "View Unit"

%h1
  %span{ :class => "unit-icon team-A-unit #{@unit.icon_class}" }
  = @unit.name
  - if @unit.fired
    %span.label.label-danger Fired

.row 
  .col-md-6
    %h2 Stats

    %table.table.table-condensed.table-striped.item-table
      %tr
        %th 
        %th Points (<span class='fa fa-bolt'></span>)
        %th HP
        %th Movement
        %th Evade
        %th Defense
        %th Damage
        %th Accuracy
        %th Range
      %tr
        %td
          %strong Base
        %td.text-right
          = @unit.unit_template.points
        %td.text-right
          = @unit.unit_template.hp
        %td.text-right
          = @unit.unit_template.move
        %td.text-right
          = @unit.unit_template.evade
        %td.text-right
          = @unit.unit_template.defense
        %td
        %td
        %td
      - if @unit.weapon.present?
        %tr
          %td
            %span{ :class => "item-icon item-#{@unit.weapon.icon_class}" }
          %td.text-right
            = "#{@unit.weapon.points}/#{@unit.unit_template.weapon_points}"
          %td
          %td
          %td
          %td
          %td.text-right
            = @unit.weapon.damage
          %td.text-right
            = @unit.weapon.accuracy
          %td.text-right
            = "#{@unit.weapon.range_min}-#{@unit.weapon.range_max}"
      - if @unit.armor.present?
        %tr
          %td
            %span{ :class => "item-icon item-#{@unit.armor.icon_class}" }
          %td.text-right
            = "#{@unit.armor.points}/#{@unit.unit_template.armor_points}"
          %td.text-right
            = @unit.armor.bonus_hp
          %td.text-right
            = @unit.armor.bonus_move
          %td.text-right
            = @unit.armor.bonus_evade
          %td.text-right
            = @unit.armor.bonus_defense
          %td.text-right
          %td.text-right
            = @unit.armor.bonus_accuracy
          %td.text-right
      - if @unit.mobility_item.present?
        %tr
          %td
            %span{ :class => "item-icon item-#{@unit.mobility_item.icon_class}" }
          %td.text-right
            = "#{@unit.mobility_item.points}/#{@unit.unit_template.mobility_points}"
          %td.text-right
            = @unit.mobility_item.bonus_hp
          %td.text-right
            = @unit.mobility_item.bonus_move
          %td.text-right
            = @unit.mobility_item.bonus_evade
          %td.text-right
            = @unit.mobility_item.bonus_defense
          %td.text-right
          %td.text-right
            = @unit.mobility_item.bonus_accuracy
          %td.text-right
      %tr
        %td
          %strong Total
        %td.text-right
          = @unit.total_points
        %td.text-right
          = @unit.eff_hp
        %td.text-right
          = @unit.eff_move
        %td.text-right
          = @unit.eff_evade
        %td.text-right
          = @unit.eff_defense
        %td.text-right
          = @unit.eff_damage
        %td.text-right
          = @unit.eff_accuracy
        %td.text-right
          = "#{@unit.eff_range_min}-#{@unit.eff_range_max}"

  - unless @unit.fired
    .col-md-6
      %h2 Other Info
      %p
        %strong Status:
        - if @unit.arena.present?
          Queued for 
          = link_to @unit.arena.name, "#"
        - else
          Unassigned

      - if user_signed_in? && @unit.user == current_user
        %p
          = link_to "Equip / Rename Unit", edit_unit_path(@unit), :class => "btn btn-default"
          = link_to "Fire Unit", @unit, :class => "btn btn-danger", :method => :delete, :data => { :confirm => "Are you sure you want to fire this unit? (Equipped items remain in your armory)" }

.row
  .col-md-12
    %h2 Latest Battles
    %table.table.table-striped.table-condensed
      %tr
        %th Battle ID
        %th Unit Team
        %th Unit Outcome
        %th Battle Outcome
        %th.text-right XP
        %th.text-right Gold
        %th.text-right Time
      - @outcomes.order("created_at desc").each do |outcome|
        %tr
          %td= link_to outcome.battle.battle_id, outcome.battle
          %td= outcome.team
          %td= outcome.outcome
          %td= outcome.battle.outcome
          %td.text-right= "+#{number_with_delimiter outcome.xp}"
          %td.text-right= "+#{number_with_delimiter outcome.credits}"
          %td.text-right
            = time_ago_in_words outcome.created_at
            ago
    = paginate @outcomes, theme: 'twitter-bootstrap-3'

    - if user_signed_in? && @unit.user == current_user
      %p
        = link_to "Back to roster", units_path, :class => "btn btn-default"
